<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omniperform.system.mapper.DashboardRegionPerformanceMapper">
    
    <resultMap type="DashboardRegionPerformance" id="DashboardRegionPerformanceResult">
        <result property="id"    column="id"    />
        <result property="dataMonth"    column="data_month"    />
        <result property="regionName"    column="region_name"    />
        <result property="salesAmount"    column="sales_amount"    />
        <result property="memberCount"    column="member_count"    />
        <result property="performanceScore"    column="performance_score"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDashboardRegionPerformanceVo">
        select id, data_month, region_name, sales_amount, member_count, performance_score, create_by, create_time, update_by, update_time, remark from dashboard_region_performance
    </sql>

    <select id="selectDashboardRegionPerformanceList" parameterType="DashboardRegionPerformance" resultMap="DashboardRegionPerformanceResult">
        <include refid="selectDashboardRegionPerformanceVo"/>
        <where>  
            <if test="dataMonth != null  and dataMonth != ''"> and data_month = #{dataMonth}</if>
            <if test="regionName != null  and regionName != ''"> and region_name like concat('%', #{regionName}, '%')</if>
            <if test="salesAmount != null "> and sales_amount = #{salesAmount}</if>
            <if test="performanceScore != null "> and performance_score = #{performanceScore}</if>
        </where>
        order by data_month desc, performance_score desc
    </select>
    
    <select id="selectDashboardRegionPerformanceById" parameterType="Long" resultMap="DashboardRegionPerformanceResult">
        <include refid="selectDashboardRegionPerformanceVo"/>
        where id = #{id}
    </select>

    <select id="selectByDataMonth" parameterType="String" resultMap="DashboardRegionPerformanceResult">
        <include refid="selectDashboardRegionPerformanceVo"/>
        where data_month = #{dataMonth}
        order by performance_score desc
    </select>

    <select id="selectByMonthRange" resultMap="DashboardRegionPerformanceResult">
        <include refid="selectDashboardRegionPerformanceVo"/>
        where data_month between #{startMonth} and #{endMonth}
        order by data_month asc, performance_score desc
    </select>
        
    <insert id="insertDashboardRegionPerformance" parameterType="DashboardRegionPerformance" useGeneratedKeys="true" keyProperty="id">
        insert into dashboard_region_performance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataMonth != null and dataMonth != ''">data_month,</if>
            <if test="regionName != null and regionName != ''">region_name,</if>
            <if test="salesAmount != null">sales_amount,</if>
            <if test="memberCount != null">member_count,</if>
            <if test="performanceScore != null">performance_score,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dataMonth != null and dataMonth != ''">#{dataMonth},</if>
            <if test="regionName != null and regionName != ''">#{regionName},</if>
            <if test="salesAmount != null">#{salesAmount},</if>
            <if test="memberCount != null">#{memberCount},</if>
            <if test="performanceScore != null">#{performanceScore},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDashboardRegionPerformance" parameterType="DashboardRegionPerformance">
        update dashboard_region_performance
        <trim prefix="SET" suffixOverrides=",">
            <if test="dataMonth != null and dataMonth != ''">data_month = #{dataMonth},</if>
            <if test="regionName != null and regionName != ''">region_name = #{regionName},</if>
            <if test="salesAmount != null">sales_amount = #{salesAmount},</if>
            <if test="memberCount != null">member_count = #{memberCount},</if>
            <if test="performanceScore != null">performance_score = #{performanceScore},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDashboardRegionPerformanceById" parameterType="Long">
        delete from dashboard_region_performance where id = #{id}
    </delete>

    <delete id="deleteDashboardRegionPerformanceByIds" parameterType="String">
        delete from dashboard_region_performance where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>